<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="sendRequest()">
        <img src="assets/img/logo_live_add.png" class="icon-in-button">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="backgroundPlatzinger">
  <ion-grid id="homeMeContainer">
    <ion-row>
      <ion-col col-3>
        <div class="avatarFrameonline">
          <img src="assets/img/generic_avatar.png" class="avatarImg img-fluid">
        </div>
      </ion-col>
      <ion-col col-9 *ngIf="user">
        {{user.nick}} <br>
        <small>{{user.email}}</small><br>
        <small><b>{{user.status}}</b></small>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="searchBoxContainer">
    <ion-input type="text" placeholder="Buscar..." [(ngModel)]="query"></ion-input>
  </div>


  <div *ngIf="user && user.friends">
    <div>
      <b>Amigos({{user.friends.length}}/{{user.friends.length}})</b>
    </div>
    <!-- <div class="contact-list-item" [ngClass]="{'contact-offline': user.status == 'Offline' || user.status == 'AppearOffline'}"
    *ngFor="let user of users" (click)="goToConversation(user)" [ngStyle]="{'color': user.status == 'Offline' || user.status == 'AppearOffline' ? 'red' : 'blue'}">
      <img src="assets/img/{{getIconByStatus(user.status)}}" class="status">
      <b>{{user.nick}}</b>
      <small *ngIf="user.status">{{user.status}}</small>
    </div> -->
    <div *ngFor="let user of user.friends">
      <friend [uid]="user"></friend>
    </div>
  </div>

</ion-content>
